@{
  Layout = "_Layout";
}
  <div class="card set-page text-center">
    <h1>Pierre's Sweet and Savory Treats</h1>
    <hr>
    <br>
    <p>@Html.ActionLink("Create Account", "Index", "Account", null,  new { @class = "btn btn-light btn-large" } )</p>
  </div>
