@{
  Layout = "_Layout";
}
@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Flavor>
  <div class="card set-page text-center">
    <h1>Flavors: </h1>
    <hr>
    <br>
    @if (Model.Any())
    {
     @foreach(Flavor flavor in Model)
     {
       <h4>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId }, new {@class = "content"})</h4>
       <br>
     }
    }
    else
    {
      <p>No Treats are currently available in this flavor</p>
    }
    <hr>
    @if(User.Identity.IsAuthenticated)
    {
      <p>@Html.ActionLink("Add A New Flavor", "Create", "Flavors", null,  new { @class = "btn btn-dark btn-lg" } )</p>
    }
    <p>@Html.ActionLink("Home", "Index", "Home", null,  new { @class = "btn btn-dark btn-lg" } )</p>
  </div>